body {
    margin: 0%;
    font-family: 'Playfair Display', serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;

}

*,
*::before
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */ 
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/1.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro__title {
    color: rgb(50, 103, 155)!important;
    text-shadow: 1px 1px 1px #000;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

/* header */
.header {
    
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition:all .25s linear;
}

.header.fixed {
    background-color: #3b3be0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition:all .25s linear;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */
.nav {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}


.nav__link {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color 0.1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1;

    transition: opacity 0.1s linear;
}

.nav__link:hover {
    color:  #FF4500;
    text-shadow: 0 0 1px  #FF4500;
}

.nav__link:hover:after {
    opacity: 1;
}

/* Section */
.section {
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
}

.section__header {
    font-size: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 40px;

}

.section__title {
    text-align: center;
}

.section__text1 {
    text-align: center;
}

.section__text2 {
    text-indent: 30px;
}

.section__text {
    font-size: 25px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    line-height: 1.6;
}

.section__lab1 {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(217, 186, 231);
    padding: 100px 0;
    margin: 0 auto;
}

.section__lab2 {
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    margin: 0 auto;
}

.section__lab3 {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(73, 199, 131);
    padding: 100px 0;
    margin: 0 auto;
}

.section__bilet6 {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 100px 0;
    margin: 0 auto;
}

.a1 {
    text-decoration: none;
    color: rgb(44, 72, 214);
}

.a1:hover {
    color:  #FF4500;
    text-shadow: 0 0 1px  #FF4500;
    text-decoration: none;
}

.section_img {
    display: flex;
    justify-self:center;
    width: 100%;
    height: 500px;
}

.img {
    height: 100%;
    width: auto;
}